<!-- About Section -->
<section id="about-us" class="max-w-6xl mx-auto px-4 py-16">
    <div class="bg-white/50 rounded-xl p-6 shadow-lg hover:shadow-xl transition-shadow duration-300">
    <div class="grid md:grid-cols-2 gap-12 items-center">
        <div>
            <h2 class="section-heading">About Us</h2>
            <p class="mb-4">
                At Thamaya Solutions, we thrive on the art of bringing visions to life. We are more than an agency; we are your partner in transforming ideas into reality, ensuring every detail resonates with the essence of creativity and excellence. With four years of experience in the industry, we’ve built a reputation for delivering exceptional results through thoughtful planning and innovation.
            </p>
            <p class="mb-4">
                Our team of dedicated project leads, creatives, and industry experts is committed to ensuring flawless project management and timely execution. We pride ourselves on crafting unique solutions that elevate your projects from start to finish.
            </p>
        </div>
        <div class="rounded-lg overflow-hidden">
            <img src="{{ site.baseurl }}/assets/img/thamaya-team.png" alt="Team" class="w-full object-cover" />
        </div>
    </div>
</section>