<!-- _includes/header.html -->
<nav class="pb-0 px-4 mt-0 border-white">
    <div class="max-w-6xl m-auto">
      <div class="flex justify-between items-center">
        <div>
          <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Thamaya solutions logo">
        </div>
        <div class="hidden md:flex space-x-16 text-xl text-white">
          {% for item in site.data.navigation %}
            <a href="{{ item.url }}" class="menu-item">{{ item.title }}</a>
          {% endfor %}
        </div>
      </div>
      <hr class="h-2 text-white mt-2 ml-4 ml-auto">
    </div>
  </nav>