<!-- Hero Section -->
<section id="hero" class="text-center py-20 px-4 text-center mt-20">
    <h1 class="text-8xl text-white">Ideate | Design | Create</h1>
    <p class="mt-8 text-lg text-gray-300 max-w-4xl mx-auto mb-8 flex justify-between items-center">From concept ideation, to brand design and final creation Thamaya Solutions has you covered. We’re a diverse team of planners and creatives ready to solve all your creative problems. </p>
    <button class="bg-white mt-4 text-Teal font-bold px-8 py-3 rounded-full hover:bg-teal-600 hover:text-white transition">
        BOOK A CALL
    </button>
</section>